<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yan.dao.UserMapper">

    <select id="getUserList" resultType="com.yan.bear.User">
    select * from mybatis.user
  </select>

    <select id="getUserLike" resultType="com.yan.bear.User">
        select * from mybatis.user where name like #{value}
    </select>

    <select id="getUserById" parameterType="int" resultType="com.yan.bear.User">
        select * from mybatis.user where id = #{id}
    </select>

    <select id="getUserById2" parameterType="map" resultType="com.yan.bear.User">
        select * from mybatis.user where id = #{id} and name = #{name}
    </select>

    <insert id="addUser" parameterType="com.yan.bear.User">
        insert into mybatis.user (id, name, pwd) value (#{id},#{name},#{pwd})
    </insert>


<!--对象的属性，可以直接取出来
传递map的key
-->
    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id, name, pwd) value (#{userid},#{username},#{password})
    </insert>

    <update id="updateUser" parameterType="com.yan.bear.User">
        update mybatis.user set name = #{name},pwd = #{pwd}  where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="com.yan.bear.User">
        delete from mybatis.user where id = #{id}
    </delete>
</mapper>